@model int

<a asp-action="Index" asp-controller="Cart" class="header-action-btn cart-btn">
    <i class="fa fa-shopping-cart"></i>
    @if (Model > 0)
    {
        <span class="cart-badge">@Model</span>
    }
    <span class="cart-text">Cart</span>
</a>
