@{
    Layout = null; // Nếu bạn không muốn kế thừa layout hiện tại
}

<header>
    <div class="logo">
        <a asp-controller="Home" asp-action="Index"  class="zoom">A T R I S T O R E</a>
    </div>
</header>